 /* STYLE FOR BUTTONS */
section{margin:auto;}

.activenav {
    background-color:  #ffd9b3;

	}

 /* BOX OF BUTTONS */
.flex-container {
  display: flex;
  flex-direction: row;
  width: 500px;
  height:130px;
  background-color: #6F9FD8;
  
}

.flex-container > div {
  background-color: #bbb;
  width: 520px;
  margin: 10px;
   height:100px;
  text-align: center;
   font-size: 30px;
}

 /* BUTTON TWO */				
.button {
  border-radius: 10px;
  background-color: #cf96bc;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

 /* BUTTON ONE */

.button1{border-radius: 15px;
 color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  margin: 15px;
		background-color:  #005ce6;} /* Green */
.button1:hover {background-color: #46a049;}
.button1:active {background-color:black;
				color:yellow;
	                } 
					
					
 /* BUTTON THREE */

#container{  display: flex;
  height:50px;
  margin:0px 15px;
}

.buttonthree{
  width:140px;
  height:50px;
  border:2px solid #6F9FD8;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 0;
}
.buttonthree a{
  font-family:arial;
  font-size:16px;
  color:black;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.clas{
  width:140px;
  height:50px;
  top:-2px;
  right:-140px;
  background:#6F9FD8;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.buttonthree:hover .clas{
  right:0;
}
.buttonthree:hover a{
  color:#fff;
}

 /* BUTTON FOUR */

.buttonfour{
  width:140px;
  height:50px;
  border:2px solid #6F9FD8;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.buttonfour a{
  font-family:arial;
  font-size:16px;
  color:#34495e;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.clas-4{
  width:140px;
  height:50px;
  bottom:-50px;
  background:#6F9FD8;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.buttonfour:hover .clas-4{
  bottom:0;
}
.buttonfour:hover a{
  color:#fff;
}

/* Fade button, five */

.btnsix {
   background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 20px;
  transition: 0.6s;
}

.btnsix:hover {
background: green;
color:white;}

/* Button with icon, six */

.btnicon {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    cursor: pointer;
	 margin: 20px;
}

.btnicon:hover {
    background-color: RoyalBlue;
}

 /* MEDIA, RESPONSIVE */


@media (max-width: 600px) {
	 section{ width: auto;
		 margin:auto;}	
}

@media (max-width: 600px) {
	 .button1, .button {height:30%;
	 padding-top:10px;
	 font-size:16px;
		 }	
}

@media (max-width: 600px) {
	.flex-container > div {width: auto;
  height:auto;
	
		 }	
}

@media (max-width: 600px) {
	.flex-container {width: auto;
  height:4%;
	
		 }	
}


@media (max-width: 600px) {
	 .container{ 
		 margin:auto;}	
		 .buttonfour{ 
		 margin:auto;}
}
