 /* STYLE FOR HEADER */

* {
    box-sizing: border-box;
}

.activenav {
    background-color:  #ffd9b3;

	}
	
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  #cceeff;
}

.columnim:hover .overlay {
  opacity: 0.9;
}

.text {
  color:  #006699;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
 /* CAROUSEL */
.carousel
{
	width: 550px;
	height: 296px;
	border: 2.5px solid #6F9FD8;
	margin: 0% 1%;
	overflow: hidden;
	position: relative;
}

.img
{
	position: absolute;
	width: 550px;
	height: 296px;
	animation: mm 15s infinite;
	opacity: 0;
}

@keyframes mm
{
	10%{opacity:1}
	45%{opacity:0}
}

img:nth-child(0){animation-delay: 0s}
img:nth-child(1){animation-delay: 5s}
img:nth-child(2){animation-delay: 10s}

.columnim {  position: relative;
    width: 40%;
    padding: 5px;
}

 /* FOR MEDIA RESPONSIVE IMG */
 
@media screen and (max-width: 600px) {
  .carousel {width:auto;
    margin:auto ;}
	.img{width:120%;
	height:100%;}
 }
 


	